#order-form
{
    width: 50%;
    margin: auto;
}
#form
{
    padding-top: 20px;
    width: 25%;
    margin: auto;
    padding-left: 20px;
    margin-top: 30px;
    background-color: wheat;
}
#submit
{
    background-color: green;
    color: white;
    margin-bottom: 20px;
}
#amount
{
    margin-top: 120px;
    margin-left: 38%;
    color: blue;
    font-size:42px;
}